{% extends "base.html" %}
{% block main %}
    <h1>{{ member.title }} {{ member.fname }} {{ member.lname }}</h1>
    <h4><stong>Position:</stong> {{ member.position }}</h4>
    <br/><br/>
    <h2>Projects assigned to: </h2>
        {% if member.projects %}
            <ul>
                {% for project in member.projects %}
                    <li>{{ project.project_name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>This staff member has no assigned projects</p>
        {% endif %}
{% endblock %}